<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>@MMK_L_.notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_L_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_L_0</key>
	<array>
		<string>o</string>
	</array>
	<key>@MMK_L_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
	</array>
	<key>@MMK_L_A.alt</key>
	<array>
		<string>A.alt</string>
	</array>
	<key>@MMK_L_B</key>
	<array>
		<string>B</string>
	</array>
	<key>@MMK_L_Be-cy</key>
	<array>
		<string>uni0411</string>
	</array>
	<key>@MMK_L_C</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
	</array>
	<key>@MMK_L_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_L_De-cy</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>@MMK_L_E</key>
	<array>
		<string>AE</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>OE</string>
	</array>
	<key>@MMK_L_F</key>
	<array>
		<string>F</string>
	</array>
	<key>@MMK_L_G</key>
	<array>
		<string>G</string>
	</array>
	<key>@MMK_L_Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>@MMK_L_H</key>
	<array>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>N</string>
		<string>Ntilde</string>
	</array>
	<key>@MMK_L_K</key>
	<array>
		<string>K</string>
	</array>
	<key>@MMK_L_L</key>
	<array>
		<string>L</string>
	</array>
	<key>@MMK_L_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_L_O</key>
	<array>
		<string>D</string>
		<string>Eth</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>Q</string>
	</array>
	<key>@MMK_L_P</key>
	<array>
		<string>P</string>
	</array>
	<key>@MMK_L_Phi</key>
	<array>
		<string>uni0424</string>
	</array>
	<key>@MMK_L_Q.alt</key>
	<array>
		<string>Q.alt</string>
	</array>
	<key>@MMK_L_R</key>
	<array>
		<string>R</string>
	</array>
	<key>@MMK_L_R.alt</key>
	<array>
		<string>R.alt</string>
	</array>
	<key>@MMK_L_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_L_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_L_Thorn</key>
	<array>
		<string>Thorn</string>
	</array>
	<key>@MMK_L_U</key>
	<array>
		<string>J</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_L_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_L_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_L_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_L_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_L_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_L_Zhe-cy</key>
	<array>
		<string>uni0416</string>
	</array>
	<key>@MMK_L_a.alt</key>
	<array>
		<string>a.alt</string>
	</array>
	<key>@MMK_L_a.alt2</key>
	<array>
		<string>a.alt2</string>
	</array>
	<key>@MMK_L_acutecomb</key>
	<array>
		<string>acutecomb</string>
	</array>
	<key>@MMK_L_ampersand</key>
	<array>
		<string>ampersand</string>
	</array>
	<key>@MMK_L_ampersand_alt1</key>
	<array>
		<string>ampersand_alt1</string>
	</array>
	<key>@MMK_L_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_L_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_L_asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>@MMK_L_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_L_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_L_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_L_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_L_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_L_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_L_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_L_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_L_brevecomb</key>
	<array>
		<string>uni0306</string>
	</array>
	<key>@MMK_L_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_L_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_L_c</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>cent</string>
	</array>
	<key>@MMK_L_caroncomb</key>
	<array>
		<string>uni030C</string>
	</array>
	<key>@MMK_L_cedillacomb</key>
	<array>
		<string>uni0327</string>
	</array>
	<key>@MMK_L_circumflexcomb</key>
	<array>
		<string>uni0302</string>
	</array>
	<key>@MMK_L_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_L_commaaccentcomb</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>@MMK_L_commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_L_commaturnedmod</key>
	<array>
		<string>uni02BB</string>
	</array>
	<key>@MMK_L_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_L_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_L_d.alt</key>
	<array>
		<string>d.alt</string>
	</array>
	<key>@MMK_L_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_L_dieresiscomb</key>
	<array>
		<string>uni0308</string>
	</array>
	<key>@MMK_L_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_L_dotaccentcomb</key>
	<array>
		<string>uni0307</string>
	</array>
	<key>@MMK_L_doubleprimemod</key>
	<array>
		<string>uni02BA</string>
	</array>
	<key>@MMK_L_e</key>
	<array>
		<string>ae</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oe</string>
	</array>
	<key>@MMK_L_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_L_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_L_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_L_euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_L_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_L_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_L_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_L_f.alt</key>
	<array>
		<string>f.alt</string>
	</array>
	<key>@MMK_L_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_L_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_L_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_L_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_L_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_L_g.alt</key>
	<array>
		<string>g.alt</string>
	</array>
	<key>@MMK_L_germandbls</key>
	<array>
		<string>germandbls</string>
	</array>
	<key>@MMK_L_germandbls.001</key>
	<array>
		<string>germandbls.001</string>
	</array>
	<key>@MMK_L_gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>@MMK_L_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_L_guillemetleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_L_guillemetright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_L_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_L_guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_L_hungarumlautcomb</key>
	<array>
		<string>uni030B</string>
	</array>
	<key>@MMK_L_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_L_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_L_idotless</key>
	<array>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_L_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_L_jdotless</key>
	<array>
		<string>uni0237</string>
	</array>
	<key>@MMK_L_k</key>
	<array>
		<string>k</string>
	</array>
	<key>@MMK_L_k.alt</key>
	<array>
		<string>k.alt</string>
	</array>
	<key>@MMK_L_l</key>
	<array>
		<string>d</string>
		<string>l</string>
	</array>
	<key>@MMK_L_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_L_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_L_macroncomb</key>
	<array>
		<string>uni0304</string>
	</array>
	<key>@MMK_L_micro</key>
	<array>
		<string>uni00B5</string>
	</array>
	<key>@MMK_L_minus</key>
	<array>
		<string>minus</string>
		<string>uni0335</string>
	</array>
	<key>@MMK_L_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_L_n</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>h</string>
		<string>hbar</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
	</array>
	<key>@MMK_L_nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>@MMK_L_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_L_notdef.001</key>
	<array>
		<string>notdef.001</string>
	</array>
	<key>@MMK_L_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_L_o</key>
	<array>
		<string>b</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>p</string>
		<string>thorn</string>
	</array>
	<key>@MMK_L_ogonekcomb</key>
	<array>
		<string>uni0328</string>
	</array>
	<key>@MMK_L_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_L_one.numr</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_L_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_L_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_L_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_L_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_L_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_L_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_L_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_L_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_L_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_L_primemod</key>
	<array>
		<string>uni02B9</string>
	</array>
	<key>@MMK_L_q</key>
	<array>
		<string>q</string>
	</array>
	<key>@MMK_L_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_L_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_L_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_L_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_L_quotereversed</key>
	<array>
		<string>quotereversed</string>
	</array>
	<key>@MMK_L_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_L_r</key>
	<array>
		<string>r</string>
	</array>
	<key>@MMK_L_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_L_ringcomb</key>
	<array>
		<string>uni030A</string>
	</array>
	<key>@MMK_L_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_L_schwa</key>
	<array>
		<string>uni0259</string>
	</array>
	<key>@MMK_L_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_L_servicemark</key>
	<array>
		<string>uni2120</string>
	</array>
	<key>@MMK_L_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_L_seven.alt</key>
	<array>
		<string>seven.alt</string>
	</array>
	<key>@MMK_L_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_L_slash</key>
	<array>
		<string>slash</string>
		<string>uni0338</string>
	</array>
	<key>@MMK_L_slashshortcomb</key>
	<array>
		<string>uni0337</string>
	</array>
	<key>@MMK_L_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_L_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_L_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_L_t.alt</key>
	<array>
		<string>t.alt</string>
	</array>
	<key>@MMK_L_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_L_three.numr</key>
	<array>
		<string>threequarters</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_L_tildecomb</key>
	<array>
		<string>tildecomb</string>
	</array>
	<key>@MMK_L_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_L_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_L_two.alt</key>
	<array>
		<string>two.alt</string>
	</array>
	<key>@MMK_L_two.dnom</key>
	<array>
		<string>two.dnom</string>
	</array>
	<key>@MMK_L_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_L_u.alt</key>
	<array>
		<string>u.alt</string>
	</array>
	<key>@MMK_L_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_L_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_L_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_L_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_L_x.alt</key>
	<array>
		<string>x.alt</string>
	</array>
	<key>@MMK_L_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_L_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_L_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_L_z.alt</key>
	<array>
		<string>z.alt</string>
	</array>
	<key>@MMK_L_zero</key>
	<array>
		<string>zero</string>
	</array>
	<key>@MMK_R_.notdef</key>
	<array>
		<string>.notdef</string>
	</array>
	<key>@MMK_R_.null</key>
	<array>
		<string>.null</string>
	</array>
	<key>@MMK_R_0</key>
	<array>
		<string>o</string>
	</array>
	<key>@MMK_R_A</key>
	<array>
		<string>A</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
	</array>
	<key>@MMK_R_A.alt</key>
	<array>
		<string>A.alt</string>
	</array>
	<key>@MMK_R_CR</key>
	<array>
		<string>CR</string>
	</array>
	<key>@MMK_R_De-cy</key>
	<array>
		<string>uni0414</string>
	</array>
	<key>@MMK_R_Germandbls</key>
	<array>
		<string>uni1E9E</string>
	</array>
	<key>@MMK_R_H</key>
	<array>
		<string>B</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>K</string>
		<string>L</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>P</string>
		<string>Thorn</string>
		<string>R</string>
		<string>uni0411</string>
	</array>
	<key>@MMK_R_J</key>
	<array>
		<string>J</string>
	</array>
	<key>@MMK_R_M</key>
	<array>
		<string>M</string>
	</array>
	<key>@MMK_R_O</key>
	<array>
		<string>C</string>
		<string>Ccedilla</string>
		<string>G</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>Q</string>
	</array>
	<key>@MMK_R_Phi</key>
	<array>
		<string>uni0424</string>
	</array>
	<key>@MMK_R_Q.alt</key>
	<array>
		<string>Q.alt</string>
	</array>
	<key>@MMK_R_R.alt</key>
	<array>
		<string>R.alt</string>
	</array>
	<key>@MMK_R_S</key>
	<array>
		<string>S</string>
	</array>
	<key>@MMK_R_T</key>
	<array>
		<string>T</string>
	</array>
	<key>@MMK_R_U</key>
	<array>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
	</array>
	<key>@MMK_R_V</key>
	<array>
		<string>V</string>
	</array>
	<key>@MMK_R_W</key>
	<array>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
	</array>
	<key>@MMK_R_X</key>
	<array>
		<string>X</string>
	</array>
	<key>@MMK_R_Y</key>
	<array>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
	</array>
	<key>@MMK_R_Z</key>
	<array>
		<string>Z</string>
	</array>
	<key>@MMK_R_Zhe-cy</key>
	<array>
		<string>uni0416</string>
	</array>
	<key>@MMK_R_a</key>
	<array>
		<string>a</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
	</array>
	<key>@MMK_R_a.alt</key>
	<array>
		<string>a.alt</string>
	</array>
	<key>@MMK_R_a.alt2</key>
	<array>
		<string>a.alt2</string>
	</array>
	<key>@MMK_R_acutecomb</key>
	<array>
		<string>acutecomb</string>
	</array>
	<key>@MMK_R_ampersand</key>
	<array>
		<string>ampersand</string>
		<string>ampersand_alt1</string>
	</array>
	<key>@MMK_R_anoteleia</key>
	<array>
		<string>periodcentered</string>
	</array>
	<key>@MMK_R_asciicircum</key>
	<array>
		<string>asciicircum</string>
	</array>
	<key>@MMK_R_asciitilde</key>
	<array>
		<string>asciitilde</string>
	</array>
	<key>@MMK_R_asterisk</key>
	<array>
		<string>asterisk</string>
	</array>
	<key>@MMK_R_at</key>
	<array>
		<string>at</string>
	</array>
	<key>@MMK_R_backslash</key>
	<array>
		<string>backslash</string>
	</array>
	<key>@MMK_R_bar</key>
	<array>
		<string>bar</string>
	</array>
	<key>@MMK_R_braceleft</key>
	<array>
		<string>braceleft</string>
	</array>
	<key>@MMK_R_braceright</key>
	<array>
		<string>braceright</string>
	</array>
	<key>@MMK_R_bracketleft</key>
	<array>
		<string>bracketleft</string>
	</array>
	<key>@MMK_R_bracketright</key>
	<array>
		<string>bracketright</string>
	</array>
	<key>@MMK_R_brevecomb</key>
	<array>
		<string>uni0306</string>
	</array>
	<key>@MMK_R_brokenbar</key>
	<array>
		<string>brokenbar</string>
	</array>
	<key>@MMK_R_bullet</key>
	<array>
		<string>bullet</string>
	</array>
	<key>@MMK_R_caroncomb</key>
	<array>
		<string>uni030C</string>
	</array>
	<key>@MMK_R_cedillacomb</key>
	<array>
		<string>uni0327</string>
	</array>
	<key>@MMK_R_circumflexcomb</key>
	<array>
		<string>uni0302</string>
	</array>
	<key>@MMK_R_colon</key>
	<array>
		<string>colon</string>
		<string>semicolon</string>
	</array>
	<key>@MMK_R_commaaccentcomb</key>
	<array>
		<string>uni0326</string>
	</array>
	<key>@MMK_R_commaturnedabovecomb</key>
	<array>
		<string>uni0312</string>
	</array>
	<key>@MMK_R_commaturnedmod</key>
	<array>
		<string>uni02BB</string>
	</array>
	<key>@MMK_R_copyright</key>
	<array>
		<string>copyright</string>
	</array>
	<key>@MMK_R_currency</key>
	<array>
		<string>currency</string>
	</array>
	<key>@MMK_R_d.alt</key>
	<array>
		<string>d.alt</string>
	</array>
	<key>@MMK_R_degree</key>
	<array>
		<string>degree</string>
	</array>
	<key>@MMK_R_dieresiscomb</key>
	<array>
		<string>uni0308</string>
	</array>
	<key>@MMK_R_dollar</key>
	<array>
		<string>dollar</string>
	</array>
	<key>@MMK_R_dotaccentcomb</key>
	<array>
		<string>uni0307</string>
	</array>
	<key>@MMK_R_doubleprimemod</key>
	<array>
		<string>uni02BA</string>
	</array>
	<key>@MMK_R_eight</key>
	<array>
		<string>eight</string>
	</array>
	<key>@MMK_R_equal</key>
	<array>
		<string>equal</string>
	</array>
	<key>@MMK_R_eth</key>
	<array>
		<string>eth</string>
	</array>
	<key>@MMK_R_euro</key>
	<array>
		<string>Euro</string>
	</array>
	<key>@MMK_R_exclam</key>
	<array>
		<string>exclam</string>
	</array>
	<key>@MMK_R_exclamdown</key>
	<array>
		<string>exclamdown</string>
	</array>
	<key>@MMK_R_f</key>
	<array>
		<string>f</string>
	</array>
	<key>@MMK_R_f.alt</key>
	<array>
		<string>f.alt</string>
	</array>
	<key>@MMK_R_five</key>
	<array>
		<string>five</string>
	</array>
	<key>@MMK_R_four</key>
	<array>
		<string>four</string>
	</array>
	<key>@MMK_R_four.dnom</key>
	<array>
		<string>four.dnom</string>
	</array>
	<key>@MMK_R_fraction</key>
	<array>
		<string>fraction</string>
	</array>
	<key>@MMK_R_g</key>
	<array>
		<string>g</string>
	</array>
	<key>@MMK_R_g.alt</key>
	<array>
		<string>g.alt</string>
	</array>
	<key>@MMK_R_germandbls.001</key>
	<array>
		<string>germandbls.001</string>
	</array>
	<key>@MMK_R_gravecomb</key>
	<array>
		<string>gravecomb</string>
	</array>
	<key>@MMK_R_greater</key>
	<array>
		<string>greater</string>
	</array>
	<key>@MMK_R_guillemetleft</key>
	<array>
		<string>guillemotleft</string>
	</array>
	<key>@MMK_R_guillemetright</key>
	<array>
		<string>guillemotright</string>
	</array>
	<key>@MMK_R_guillemotleft</key>
	<array>
		<string>guilsinglleft</string>
	</array>
	<key>@MMK_R_guillemotright</key>
	<array>
		<string>guilsinglright</string>
	</array>
	<key>@MMK_R_h</key>
	<array>
		<string>b</string>
		<string>h</string>
		<string>hbar</string>
		<string>k</string>
		<string>l</string>
		<string>thorn</string>
		<string>germandbls</string>
	</array>
	<key>@MMK_R_hungarumlautcomb</key>
	<array>
		<string>uni030B</string>
	</array>
	<key>@MMK_R_hyphen</key>
	<array>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
	</array>
	<key>@MMK_R_i</key>
	<array>
		<string>i</string>
	</array>
	<key>@MMK_R_idotless</key>
	<array>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
	</array>
	<key>@MMK_R_j</key>
	<array>
		<string>j</string>
	</array>
	<key>@MMK_R_jdotless</key>
	<array>
		<string>uni0237</string>
	</array>
	<key>@MMK_R_k.alt</key>
	<array>
		<string>k.alt</string>
	</array>
	<key>@MMK_R_less</key>
	<array>
		<string>less</string>
	</array>
	<key>@MMK_R_logicalnot</key>
	<array>
		<string>logicalnot</string>
	</array>
	<key>@MMK_R_macroncomb</key>
	<array>
		<string>uni0304</string>
	</array>
	<key>@MMK_R_micro</key>
	<array>
		<string>uni00B5</string>
	</array>
	<key>@MMK_R_minus</key>
	<array>
		<string>minus</string>
		<string>uni0335</string>
	</array>
	<key>@MMK_R_multiply</key>
	<array>
		<string>multiply</string>
	</array>
	<key>@MMK_R_n</key>
	<array>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>r</string>
	</array>
	<key>@MMK_R_nbspace</key>
	<array>
		<string>uni00A0</string>
	</array>
	<key>@MMK_R_nine</key>
	<array>
		<string>nine</string>
	</array>
	<key>@MMK_R_notdef.001</key>
	<array>
		<string>notdef.001</string>
	</array>
	<key>@MMK_R_numbersign</key>
	<array>
		<string>numbersign</string>
	</array>
	<key>@MMK_R_o</key>
	<array>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>q</string>
		<string>cent</string>
	</array>
	<key>@MMK_R_ogonekcomb</key>
	<array>
		<string>uni0328</string>
	</array>
	<key>@MMK_R_one</key>
	<array>
		<string>one</string>
	</array>
	<key>@MMK_R_one.numr</key>
	<array>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>one.numr</string>
	</array>
	<key>@MMK_R_ordfeminine</key>
	<array>
		<string>ordfeminine</string>
	</array>
	<key>@MMK_R_ordmasculine</key>
	<array>
		<string>ordmasculine</string>
	</array>
	<key>@MMK_R_p</key>
	<array>
		<string>p</string>
	</array>
	<key>@MMK_R_paragraph</key>
	<array>
		<string>paragraph</string>
	</array>
	<key>@MMK_R_parenleft</key>
	<array>
		<string>parenleft</string>
	</array>
	<key>@MMK_R_parenright</key>
	<array>
		<string>parenright</string>
	</array>
	<key>@MMK_R_percent</key>
	<array>
		<string>percent</string>
	</array>
	<key>@MMK_R_period</key>
	<array>
		<string>comma</string>
		<string>ellipsis</string>
		<string>period</string>
		<string>quotedblbase</string>
		<string>quotesinglbase</string>
	</array>
	<key>@MMK_R_plus</key>
	<array>
		<string>plus</string>
	</array>
	<key>@MMK_R_plusminus</key>
	<array>
		<string>plusminus</string>
	</array>
	<key>@MMK_R_primemod</key>
	<array>
		<string>uni02B9</string>
	</array>
	<key>@MMK_R_question</key>
	<array>
		<string>question</string>
	</array>
	<key>@MMK_R_questiondown</key>
	<array>
		<string>questiondown</string>
	</array>
	<key>@MMK_R_quotedbl</key>
	<array>
		<string>quotedbl</string>
	</array>
	<key>@MMK_R_quotedblleft</key>
	<array>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quoteright</string>
	</array>
	<key>@MMK_R_quotereversed</key>
	<array>
		<string>quotereversed</string>
	</array>
	<key>@MMK_R_quotesingle</key>
	<array>
		<string>quotesingle</string>
	</array>
	<key>@MMK_R_registered</key>
	<array>
		<string>registered</string>
	</array>
	<key>@MMK_R_ringcomb</key>
	<array>
		<string>uni030A</string>
	</array>
	<key>@MMK_R_s</key>
	<array>
		<string>s</string>
	</array>
	<key>@MMK_R_schwa</key>
	<array>
		<string>uni0259</string>
	</array>
	<key>@MMK_R_section</key>
	<array>
		<string>section</string>
	</array>
	<key>@MMK_R_servicemark</key>
	<array>
		<string>uni2120</string>
	</array>
	<key>@MMK_R_seven</key>
	<array>
		<string>seven</string>
	</array>
	<key>@MMK_R_seven.alt</key>
	<array>
		<string>seven.alt</string>
	</array>
	<key>@MMK_R_six</key>
	<array>
		<string>six</string>
	</array>
	<key>@MMK_R_slash</key>
	<array>
		<string>slash</string>
		<string>uni0338</string>
	</array>
	<key>@MMK_R_slashshortcomb</key>
	<array>
		<string>uni0337</string>
	</array>
	<key>@MMK_R_space</key>
	<array>
		<string>space</string>
	</array>
	<key>@MMK_R_sterling</key>
	<array>
		<string>sterling</string>
	</array>
	<key>@MMK_R_t</key>
	<array>
		<string>t</string>
	</array>
	<key>@MMK_R_t.alt</key>
	<array>
		<string>t.alt</string>
	</array>
	<key>@MMK_R_three</key>
	<array>
		<string>three</string>
	</array>
	<key>@MMK_R_three.numr</key>
	<array>
		<string>threequarters</string>
		<string>three.numr</string>
	</array>
	<key>@MMK_R_tildecomb</key>
	<array>
		<string>tildecomb</string>
	</array>
	<key>@MMK_R_trademark</key>
	<array>
		<string>trademark</string>
	</array>
	<key>@MMK_R_two</key>
	<array>
		<string>two</string>
	</array>
	<key>@MMK_R_two.alt</key>
	<array>
		<string>two.alt</string>
	</array>
	<key>@MMK_R_two.dnom</key>
	<array>
		<string>two.dnom</string>
	</array>
	<key>@MMK_R_u</key>
	<array>
		<string>u</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
	</array>
	<key>@MMK_R_u.alt</key>
	<array>
		<string>u.alt</string>
	</array>
	<key>@MMK_R_underscore</key>
	<array>
		<string>underscore</string>
	</array>
	<key>@MMK_R_v</key>
	<array>
		<string>v</string>
	</array>
	<key>@MMK_R_w</key>
	<array>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
	</array>
	<key>@MMK_R_x</key>
	<array>
		<string>x</string>
	</array>
	<key>@MMK_R_x.alt</key>
	<array>
		<string>x.alt</string>
	</array>
	<key>@MMK_R_y</key>
	<array>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
	</array>
	<key>@MMK_R_yen</key>
	<array>
		<string>yen</string>
	</array>
	<key>@MMK_R_z</key>
	<array>
		<string>z</string>
	</array>
	<key>@MMK_R_z.alt</key>
	<array>
		<string>z.alt</string>
	</array>
	<key>@MMK_R_zero</key>
	<array>
		<string>zero</string>
	</array>
</dict>
</plist>
