<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fraction</key>
	<dict>
		<key>four.dnom</key>
		<real>-33.333301544189453</real>
		<key>two.dnom</key>
		<real>-26.111099243164062</real>
	</dict>
	<key>one.numr</key>
	<dict>
		<key>fraction</key>
		<real>23.888900756835938</real>
	</dict>
	<key>three.numr</key>
	<dict>
		<key>fraction</key>
		<real>-6.6666698455810547</real>
	</dict>
</dict>
</plist>
