<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>543F9737-16F7-428D-9F96-2EBD9FC8D3B6</key>
		<dict>
			<key>HV</key>
			<string> </string>
		</dict>
		<key>B29C398E-974A-40D0-A0A0-00935056D4B4</key>
		<dict>
			<key>HH</key>
			<integer>23</integer>
			<key>HV</key>
			<integer>25</integer>
			<key>OH</key>
			<integer>23</integer>
			<key>OV</key>
			<integer>25</integer>
			<key>nV</key>
			<integer>25</integer>
			<key>nd</key>
			<integer>23</integer>
			<key>oH</key>
			<integer>23</integer>
			<key>oV</key>
			<integer>25</integer>
			<key>tH</key>
			<integer>23</integer>
		</dict>
		<key>FA480B27-EBBD-4830-9868-98507D39050C</key>
		<dict>
			<key>nV</key>
			<integer>99</integer>
			<key>oH</key>
			<integer>83</integer>
			<key>oV</key>
			<integer>109</integer>
			<key>tH</key>
			<integer>83</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>EB38A4D2-CD30-49BA-8E45-1F04A566FFE8</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Bold</string>
	<key>com.schriftgestaltung.weightValue</key>
	<integer>800</integer>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>A.alt</string>
		<string>Aacute</string>
		<string>Acircumflex</string>
		<string>uni1EA8</string>
		<string>Adieresis</string>
		<string>Agrave</string>
		<string>Aring</string>
		<string>Atilde</string>
		<string>AE</string>
		<string>B</string>
		<string>C</string>
		<string>Ccedilla</string>
		<string>D</string>
		<string>Eth</string>
		<string>E</string>
		<string>Eacute</string>
		<string>Ecircumflex</string>
		<string>Edieresis</string>
		<string>Egrave</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>Hbar</string>
		<string>I</string>
		<string>Iacute</string>
		<string>Icircumflex</string>
		<string>Idieresis</string>
		<string>Igrave</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>Ntilde</string>
		<string>O</string>
		<string>Oacute</string>
		<string>Ocircumflex</string>
		<string>Odieresis</string>
		<string>Ograve</string>
		<string>Oslash</string>
		<string>Otilde</string>
		<string>OE</string>
		<string>P</string>
		<string>Thorn</string>
		<string>Q</string>
		<string>Q.alt</string>
		<string>R</string>
		<string>R.alt</string>
		<string>S</string>
		<string>uni1E9E</string>
		<string>T</string>
		<string>U</string>
		<string>Uacute</string>
		<string>Ucircumflex</string>
		<string>Udieresis</string>
		<string>Ugrave</string>
		<string>V</string>
		<string>W</string>
		<string>Wacute</string>
		<string>Wcircumflex</string>
		<string>Wdieresis</string>
		<string>Wgrave</string>
		<string>X</string>
		<string>Y</string>
		<string>Yacute</string>
		<string>Ycircumflex</string>
		<string>Ydieresis</string>
		<string>Ygrave</string>
		<string>Z</string>
		<string>a</string>
		<string>a.alt</string>
		<string>a.alt2</string>
		<string>aacute</string>
		<string>acircumflex</string>
		<string>adieresis</string>
		<string>agrave</string>
		<string>aring</string>
		<string>atilde</string>
		<string>ae</string>
		<string>b</string>
		<string>c</string>
		<string>ccedilla</string>
		<string>d</string>
		<string>d.alt</string>
		<string>eth</string>
		<string>e</string>
		<string>eacute</string>
		<string>ecircumflex</string>
		<string>edieresis</string>
		<string>egrave</string>
		<string>f</string>
		<string>f.alt</string>
		<string>g</string>
		<string>g.alt</string>
		<string>h</string>
		<string>hbar</string>
		<string>i</string>
		<string>dotlessi</string>
		<string>iacute</string>
		<string>icircumflex</string>
		<string>idieresis</string>
		<string>igrave</string>
		<string>j</string>
		<string>uni0237</string>
		<string>k</string>
		<string>k.alt</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>ntilde</string>
		<string>o</string>
		<string>oacute</string>
		<string>ocircumflex</string>
		<string>odieresis</string>
		<string>ograve</string>
		<string>oslash</string>
		<string>otilde</string>
		<string>oe</string>
		<string>p</string>
		<string>thorn</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>germandbls</string>
		<string>germandbls.001</string>
		<string>uni0259</string>
		<string>t</string>
		<string>t.alt</string>
		<string>u</string>
		<string>u.alt</string>
		<string>uacute</string>
		<string>ucircumflex</string>
		<string>udieresis</string>
		<string>ugrave</string>
		<string>v</string>
		<string>w</string>
		<string>wacute</string>
		<string>wcircumflex</string>
		<string>wdieresis</string>
		<string>wgrave</string>
		<string>x</string>
		<string>x.alt</string>
		<string>y</string>
		<string>yacute</string>
		<string>ycircumflex</string>
		<string>ydieresis</string>
		<string>ygrave</string>
		<string>z</string>
		<string>z.alt</string>
		<string>ordfeminine</string>
		<string>ordmasculine</string>
		<string>uni0411</string>
		<string>uni0414</string>
		<string>uni0416</string>
		<string>uni0424</string>
		<string>zero</string>
		<string>one</string>
		<string>two</string>
		<string>three</string>
		<string>four</string>
		<string>five</string>
		<string>six</string>
		<string>seven</string>
		<string>eight</string>
		<string>nine</string>
		<string>two.alt</string>
		<string>seven.alt</string>
		<string>fraction</string>
		<string>onehalf</string>
		<string>onequarter</string>
		<string>threequarters</string>
		<string>two.dnom</string>
		<string>four.dnom</string>
		<string>one.numr</string>
		<string>three.numr</string>
		<string>asterisk</string>
		<string>backslash</string>
		<string>periodcentered</string>
		<string>bullet</string>
		<string>colon</string>
		<string>comma</string>
		<string>ellipsis</string>
		<string>exclam</string>
		<string>exclamdown</string>
		<string>numbersign</string>
		<string>period</string>
		<string>question</string>
		<string>questiondown</string>
		<string>quotedbl</string>
		<string>quotesingle</string>
		<string>semicolon</string>
		<string>slash</string>
		<string>underscore</string>
		<string>braceleft</string>
		<string>braceright</string>
		<string>bracketleft</string>
		<string>bracketright</string>
		<string>parenleft</string>
		<string>parenright</string>
		<string>emdash</string>
		<string>endash</string>
		<string>hyphen</string>
		<string>guillemotleft</string>
		<string>guillemotright</string>
		<string>guilsinglleft</string>
		<string>guilsinglright</string>
		<string>quotedblbase</string>
		<string>quotedblleft</string>
		<string>quotedblright</string>
		<string>quoteleft</string>
		<string>quotereversed</string>
		<string>quoteright</string>
		<string>quotesinglbase</string>
		<string>space</string>
		<string>uni00A0</string>
		<string>.notdef</string>
		<string>.null</string>
		<string>CR</string>
		<string>cent</string>
		<string>currency</string>
		<string>dollar</string>
		<string>Euro</string>
		<string>sterling</string>
		<string>yen</string>
		<string>asciitilde</string>
		<string>equal</string>
		<string>greater</string>
		<string>less</string>
		<string>logicalnot</string>
		<string>uni00B5</string>
		<string>minus</string>
		<string>multiply</string>
		<string>percent</string>
		<string>plus</string>
		<string>plusminus</string>
		<string>bar</string>
		<string>brokenbar</string>
		<string>at</string>
		<string>ampersand</string>
		<string>paragraph</string>
		<string>copyright</string>
		<string>registered</string>
		<string>section</string>
		<string>trademark</string>
		<string>degree</string>
		<string>asciicircum</string>
		<string>uni2120</string>
		<string>ampersand_alt1</string>
		<string>uni0308</string>
		<string>uni0307</string>
		<string>gravecomb</string>
		<string>acutecomb</string>
		<string>uni030B</string>
		<string>uni0302</string>
		<string>uni030C</string>
		<string>uni0306</string>
		<string>uni030A</string>
		<string>tildecomb</string>
		<string>uni0304</string>
		<string>hookabovecomb</string>
		<string>uni0312</string>
		<string>uni0326</string>
		<string>uni0327</string>
		<string>uni0328</string>
		<string>uni0335</string>
		<string>uni0337</string>
		<string>uni0338</string>
		<string>uni02BB</string>
		<string>uni02BA</string>
		<string>uni02B9</string>
		<string>notdef.001</string>
	</array>
</dict>
</plist>
