<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GSDimensionPlugin.Dimensions</key>
	<dict>
		<key>B29C398E-974A-40D0-A0A0-00935056D4B4</key>
		<dict>
			<key>HH</key>
			<integer>35</integer>
			<key>HV</key>
			<integer>35</integer>
			<key>OH</key>
			<integer>34</integer>
			<key>OV</key>
			<integer>35</integer>
			<key>nV</key>
			<integer>35</integer>
			<key>nd</key>
			<integer>34</integer>
			<key>oH</key>
			<integer>34</integer>
			<key>oV</key>
			<integer>35</integer>
			<key>tH</key>
			<integer>34</integer>
		</dict>
	</dict>
	<key>com.schriftgestaltung.fontMasterID</key>
	<string>543F9737-16F7-428D-9F96-2EBD9FC8D3B6</string>
	<key>com.schriftgestaltung.useNiceNames</key>
	<integer>1</integer>
	<key>com.schriftgestaltung.weight</key>
	<string>Light</string>
	<key>public.glyphOrder</key>
	<array>
		<string>A</string>
		<string>B</string>
		<string>C</string>
		<string>D</string>
		<string>E</string>
		<string>F</string>
		<string>G</string>
		<string>H</string>
		<string>I</string>
		<string>J</string>
		<string>K</string>
		<string>L</string>
		<string>M</string>
		<string>N</string>
		<string>O</string>
		<string>P</string>
		<string>Q</string>
		<string>R</string>
		<string>S</string>
		<string>T</string>
		<string>U</string>
		<string>V</string>
		<string>W</string>
		<string>X</string>
		<string>Y</string>
		<string>Z</string>
		<string>A.alt</string>
		<string>G.alt</string>
		<string>Q.alt</string>
		<string>R.alt</string>
		<string>a</string>
		<string>b</string>
		<string>c</string>
		<string>d</string>
		<string>e</string>
		<string>f</string>
		<string>g</string>
		<string>h</string>
		<string>i</string>
		<string>j</string>
		<string>k</string>
		<string>l</string>
		<string>m</string>
		<string>n</string>
		<string>o</string>
		<string>p</string>
		<string>q</string>
		<string>r</string>
		<string>s</string>
		<string>t</string>
		<string>u</string>
		<string>v</string>
		<string>w</string>
		<string>x</string>
		<string>y</string>
		<string>z</string>
		<string>a.001</string>
		<string>d.001</string>
		<string>f.001</string>
		<string>s.001</string>
		<string>u.001</string>
		<string>z.001</string>
		<string>f.002</string>
		<string>a.alt</string>
		<string>e.alt</string>
		<string>f.alt</string>
		<string>t.alt</string>
		<string>x.alt</string>
		<string>x.alt2</string>
		<string>space</string>
		<string>ampersand</string>
		<string>ampersand.alt</string>
		<string>ampersand_alt1</string>
	</array>
</dict>
</plist>
